* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'poppins', sans-serif;
}

body {
text-align: center;
color: rgb(37, 62, 94);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin-top: 20px;
margin-bottom: 20px;
font-size: 1.4em;
text-transform: uppercase;
letter-spacing: 2px;
font-weight: bold;
text-shadow: 1px 1px 2px rgb(43, 47, 96) ;
background-size: cover;
background-position: top;
background: linear-gradient(135deg, #d56000 0%, #ffae00 100%);
}




h1 {
text-align: center;
align-self: start;
color: aquamarine;
font-size: 3em;
margin-bottom: 20px;
}


/* ------------------NAVIGATION ----------------- */
.navb {   
top: -1;
display: flex;
align-items: right;
justify-content: space-between;
left: 60;
width: 100%;
height: 100px;
line-height: 100px;
background:linear-gradient(rgb(19, 48, 86,)transparent);
z-index: 100;
}

.logo p {
color: rgb(255, 255, 255);
font-size: 30px;
font-weight: 600;
align-items: right;
}

.navb-menu ul {
display: flex;
}

.navb-menu ul li {
list-style: none;
display: inline-block;
}

.navb-menu ul li .link {
text-decoration: none;
font-weight: 500;
color: #ffffff;
padding-bottom: 15px;
margin: 0 25px;
}

.link:hover,
.active {
border-bottom: 2px solid #000000;
}

.navb-button .btn {
width: 130px;
height: 40px;
font-weight: 500;
background:rgb(67, 67, 67);
border: none;
border-radius: 30px;
cursor: pointer;
transition: 0.3s ease;
}

.btn:hover {
background:rgba(67, 67, 67);
}

.btn.white-btn {
background:rgba(255, 255, 255, 0.5);
}

.nav-menu-btn {
display: none;
}


header {
color:#333;
font-size: 30px;
text-align: center;
padding: 10px 0 30px 0;
}

.input-box {
position: relative;
margin-bottom: 20px,
}



/* ------------------- SLIDESHOW IMAGE AREA ------------------- */
.container,
.slides {
  width: 100%;
  height: 100vh;
}

.slides {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slides img {
  width: 100%;
  height: 98%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.about-section {
width: 100%;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
padding: 60px 20px;
background: linear-gradient(135deg, #d56000 0%, #ffae00 100%); 
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.about-container {
max-width: 100%;
background:rgba(221, 155, 0, 0.9);
border-left: 5px solid #d6ae63;
padding: 40px;
border-radius: 20px;
box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
text-align: center;
position: relative;
}

.about-container h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #ffc637;
}

.about p {
  font-size: 1rem;
  line-height: 1.8;
  color: #333;
  bottom: 500px;
}

.how-section {
width: 100%;
min-height: 100vh;
display: flex;
justify-content: center; 
align-items: center;
padding: 60px 20px;
background: linear-gradient(135deg, #d56000 0%, #ffae00 100%); 
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.how-container {
max-width: 100%;
background:rgba(38, 56, 135, 0.9);
border-left: 5px solid #63b4d6;
padding: 40px;
border-radius: 20px;
box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
text-align: center;
position: relative;
}

.how-container h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #00b4d8; 
}

.how-container p {
  font-size: 1rem;
  line-height: 1.8;
  color: #333;
}

.caution-section {
width: 100%;
min-height: 100vh;
display: flex;
justify-content: center; 
align-items: center;
padding: 60px 20px;
background: linear-gradient(135deg, #d56000 0%, #ffae00 100%); 
font-family: 'Poppins', sans-serif;
}

.caution-container {
max-width: 100%;
background:rgba(38, 56, 135, 0.9);
border-left: 5px solid #63b4d6;
padding: 40px;
border-radius: 20px;
box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
text-align: center;
position: relative;
}

.caution-container h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #00b4d8; 
}

.caution-container p {
  font-size: 1rem;
  line-height: 1.8;
  color: #333;
}

